@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');


body {
    background: #17191C;
    background-image: url(../img/hero.png);
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

.wrapper {
    background-image: url(../img/bottom-pic.png);
    background-position: bottom;
    background-repeat: no-repeat;
    
}

.conteiner {
    width: 1140px;
    margin: 0 auto;
}

/*  ----- Шапка ----------------------*/

.header {
    position: relative;
    height: 129px;
    margin-top: 21px;
    margin-bottom: 79px;
}

.logo {
    position: absolute;
    width: 198px;
    height: 46px;
}

.menu {
    position: absolute;
    margin-top: 21px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 400;
}

.menu__item {
    display: inline-block;
    margin-right: 54px;
}

.menu__item:last-child{
    margin-right: 0;
}

.contacts {
    position: absolute;
    right: 0;
}

.header .contacts {
    margin-bottom: 6px;
}

.contacts__tell {
    font-size: 26px;
    font-weight: 400;
}

.contacts__graph {
    color: #FF3D00;
    font-size: 13px;
    font-weight: 400;
    margin-left: 86px;
    text-decoration: underline;
    line-height: 20px;
}

/* ----Основа--------------------- */

.main {
}

.preview {
    text-align: center;
    margin-bottom: 233px;
}

.preview__title {
    font-weight: 800;
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.preview__info {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 44px;
}

.button {
    min-width: 195px;
    min-height: 55px;
    background-color: #FF3D00;
    color: #fff;
    border-radius: 35px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.button:hover{
    background-color: #DA0100;
}

.price {
    margin-bottom: 180px;
}

.price__item {
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    width: 359px;
    height: 476px;
    margin-right: 27px;
    border-radius: 5px ;
}

.price__item:last-child{
    margin-right: 0;
}

.price__icon {
    padding-top: 36px;
    padding-left: 29px;
}

.price__content {
    color: #000;
    padding: 30px 34px 53px 22px;
}

.price__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 17px;

}

.price__options {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;

}

.price__people {
    margin-right: 80px;
    width: 102px;
    display: inline-block;
}

.price__days{
    width: 102px;
    display: inline-block;
}

.price__option-bold {
    color: #000;
    font-weight: 700;
}

.price__text {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 29px;
}

.button--border {
    background: transparent;
    color: #FF3D00;
    border: 2px solid #FF3D00;
}

.button--border:hover{
    color: #fff;
    background-color: #FF3D00;
}

.news {
    margin-bottom: 124px;
}

.news__title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 51px;
    text-transform: uppercase;
}

.news__item {
    position: relative;
    background-color: #2E3032;
    width: 555px;
    height: 394px;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__item--bg-clip {
    background-image: url(../img/camera.png);
}

.news__item--bg-wedding {
    background-image: url(../img/wedding.png);
}

.news__content {
    position: absolute;
    bottom: 26px;
    padding-left: 30px;
    padding-right: 85px;
    padding-bottom: 15px;
}

.news__date {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 14px;
}

.news__subtitle {
    font-size: 24px;
    margin-bottom: 9px;
}

.news__text {
    font-size: 16px;
    font-weight: 400;
}

.news__list {
    margin-bottom: 53px;
}

.paginator {
    text-align: center;
}
.paginator__display {
    display: inline-block;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 400;
}
.paginator__list {
    display: inline-block;
}
.paginator__item {
    display: inline-block;
}
.paginator__number {
}
.paginator__all {
}
.paginator__link {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: transparent;
    border-radius: 50px;
    line-height: 32px;
}

.paginator__link:hover{
    background-color: #FF3D00;
    border-radius: 50px;
    line-height: 32px;
}


.about {
    margin-bottom: 53px;
}

.about__image {
    display: inline-block;
    width: 490px;
    height: 505px;
}

.about__content {
    display: inline-block;
    width: 781px;
    height: 455px;
    margin-top: 97px;
    margin-left: -136px;
    background-color: #fff;
    color: #000;
    padding: 70px 202px 66px 81px;
    border-radius: 5px;
}

.about__title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 37px;
    text-transform: uppercase;
}
.about__text {
    margin-bottom: 43px;
    font-size: 16px;
    font-weight: 400;
}
.about__button {
}

/* ----Подвал---------------------- */

.footer {
    position: relative;
    height: 153px;
    border-top: 1px solid #2E3032;
}

.footer .logo {
    bottom: 60px;
}

.footer .menu {
    bottom: 71px;
    left: 470px;
}

.footer .contacts {
    right: 0;
    bottom: 60px;
}

.socials {
    position: absolute;
    right: 265px;
    bottom: 63px;
}

.socials__item {
    display: inline-block;
    margin-right: 10px;
    width: 36px;
    height: 36px;
}

.socials__item:last-child {
    margin-right: 0;
}

.contacts__free-call {
    font-size: 11px;
    font-weight: 400;
    padding-left: 28px;
    color: #9A9A9A;
}











