.footer {
  display: flex;
  padding-top: 40px;
  height: 153px;
  justify-content: space-between;
}

.footer .logo {
  bottom: 60px;
}

.footer .menu {
  bottom: 71px;
  left: 470px;
}

.footer .contacts {
  right: 0;
  bottom: 60px;
}

.footer-servicces {
  background-color: #17191C;
}