.socials__list {
  display: flex;
  margin-top: 21px;

}

.socials__item {
  margin-right: 10px;
  width: 36px;
  height: 36px;
}

.socials__item:last-child {
  margin-right: 0;
}

.contacts__free-call {
  font-size: 11px;
  font-weight: 400;
  padding-left: 28px;
  color: #9A9A9A;
}